.container3{
  width: 100%;
  position: relative;
  height: 800px;
}
.container3 .container3_h1{
  position: absolute;
  font-size: 36px;
  left: 30px;
  top: 80px;
  width: 50%;

}
.container3 img{
  position: absolute;
  width: 600px;
  height: 600px;
  left: 10px;
  top: 100px;

}
.main_form_container {
 position: relative;
  max-width: 900px;
  margin: 0 auto;
 


}
.apply_box img{
  position: absolute;
  height: 100px;
  width: 100px;
 left: 250px;
 top: 5px;
 z-index: 1;
}

.apply_box {
  position: absolute;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  right: 20px;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
  top: 80px;
  
}
.apply_box h1{

  font-family: Inter, sans-serif;
}
.title_small {
position: relative;
  font-family: Inter;
  font-size: 20px;
  color: #6B0101;
  z-index: 12;
}

.form_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: Inter, sans-serif;
}

input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  font-family: Inter,sans-serif;
}

input:focus {
  outline-color: rgb(55, 215, 227);
}

.button_container {
  display: flex;

  justify-content: flex-end;
  margin-top: 20px;
}
#form-button {
  background-color: red;
  border: transparent solid 2px;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.textarea_control {
  grid-column: 1 / span 2;
}
.textarea_control textarea {
  width: 100%;
  outline-color: rgb(55, 215, 227);
}

@media (max-width: 460px) {
  .textarea_control {
    grid-column: 1 / span 1;
  }
} ;
